!Xcursor.theme: whiteglass
Xcursor.theme: Human

URxvt.scrollBar: false
URxvt.transparent: false
!URxvt.shading: 75

URxvt.font: xft:Inconsolata:antialias=true:pixelsize=16
URxvt.boldFont: xft:Inconsolata:style=bold:antialias=true:pixelsize=16

*background: #222222
*foreground: #eeeeee
*cursorColor: #eeee00
